body {
    /* chroma green for before other images have loaded */
    background-color: #00b140;
}
.weather-background {
    background-size: cover;
    background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
a,
button,
input,
ul,
li,
footer,
h2 small,
input {
    margin: 0;
    padding: 0;
    border: 0;
    color: #4D2A0A;
    font-family: "Varela Round", "Arial Rounded MT Bold", Arial, sans-serif;
}

.container-fluid {
    padding: 0;
}
h1 {
    margin: 1.5rem 0 1.5rem 0;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .5);
    max-width: fit-content;
}
h2 {
    margin: .5em 0 .5em 0;
}
#temperature {
    font-size: 4rem;
}
h3 {
    margin: .25em 0 .25em 0;
}

.weather-display-full {
    width: fit-content;
    height: fit-content;
}
.weather-display {
    background-color: rgba(255, 255, 255, .5);
    width: fit-content;
    height: 100%;
    border-radius: 5px;
    padding: 1rem;
    margin: .5rem auto 1.5rem auto;
    border: 0;
}
@media screen and (min-width: 768px) {
    .weather-display {
        width: fit-content;
        margin: .5rem .5rem 1rem .5rem;
        display: inline-block;
        vertical-align: top;
    }
}
.btn {
    background-color: rgba(255, 255, 255, .5);
}
.btn:hover,
.btn:active:focus,
.btn:active,
.btn:hover,
.btn:focus {
    background-color: rgba(255, 255, 255, .8);
}
.btn,
.btn:active:focus,
.btn:active,
.btn:hover,
.btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
    color: #4D2A0A;
    margin: .25em auto .25em auto;
}
#currentposition {
    width: 15em;
}
input {
    background-color: rgba(255, 255, 255, .5);
    border: none;
    box-shadow: none;
    color: #4D2A0A;
    margin: .25em auto .25em auto;
    border-radius: 4px;
    padding: 0 .5em 0 .5em;
    width: 15em;
}


.pusheen {
    margin-bottom: -35px;
    width: 261px;
    height: 372px;
    position: relative;
    background-image: url("http://res.cloudinary.com/jessawright/image/upload/v1462063480/Pusheen/pusheen_herself.png");
    background-repeat: no-repeat;
}
.ground-background {
    margin-top: 0;
    position: relative;
    z-index: -1;
    padding: 3em;
}
.credits {
    color: #4D2A0A;
    padding: .5em;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
}
